@import url(https://fonts.googleapis.com/css?family=Coda);
@import url("https://use.typekit.net/qbp5vqk.css");
/* line 1, ../sass/helpers/_reset.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/helpers/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/helpers/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/helpers/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../sass/helpers/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/helpers/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/helpers/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/helpers/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* line 5, ../sass/helpers/_queries.scss */
  #bg-container {
    height: 1024px;
  }
}
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 14, ../sass/helpers/_queries.scss */
  #bg-container {
    height: 768px;
  }
}
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  /* line 24, ../sass/helpers/_queries.scss */
  #bg-container {
    height: 500px;
  }
}
/* line 1, ../sass/helpers/_video.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

/* line 8, ../sass/helpers/_video.scss */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/modules/_main.scss */
.section {
  padding-bottom: 2em;
}

/* line 4, ../sass/modules/_main.scss */
.main-content {
  background-color: #f9f9f9;
}
/* line 6, ../sass/modules/_main.scss */
.main-content__margins {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 1em 0;
}
/* line 11, ../sass/modules/_main.scss */
.main-content__headline {
  font-family: "rinse", "Coda","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em;
  line-height: 1;
  letter-spacing: 1px;
  padding-bottom: 1em;
  color: #39af84;
}
/* line 20, ../sass/modules/_main.scss */
.main-content__lead-paragraph, .main-content__subhead, .main-content__paragraph {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 24, ../sass/modules/_main.scss */
.main-content .main-content__button {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 1.5em;
  margin: 1em 0 2em;
  border: 3px solid #39af84;
  text-decoration: none;
  background-color: #39af84;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 36, ../sass/modules/_main.scss */
.main-content .content--inverted {
  padding: 2em 0;
  margin: 2em 0;
  background: #39af84;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 41, ../sass/modules/_main.scss */
.main-content .content--inverted .main-content__headline,
.main-content .content--inverted .main-content__subhead,
.main-content .content--inverted .main-content__paragraph,
.main-content .content--inverted .main-content__lead-paragraph {
  color: #fff;
}
/* line 47, ../sass/modules/_main.scss */
.main-content .content--inverted .main-content__button {
  background: #fff;
  color: #39af84;
}

/* line 3, ../sass/modules/_typography.scss */
html {
  font-size: 16px;
}

/* line 8, ../sass/modules/_typography.scss */
.main-content__subhead {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #39af84;
  padding-bottom: 1em;
}

/* line 15, ../sass/modules/_typography.scss */
.main-content__paragraph, .main-content__lead-paragraph {
  font-size: 1.15em;
  line-height: 1.5em;
  color: #898989;
  padding-bottom: 1em;
}
/* line 20, ../sass/modules/_typography.scss */
.main-content__paragraph a, .main-content__lead-paragraph a {
  color: #39af84;
  text-decoration: none;
}

/* line 25, ../sass/modules/_typography.scss */
.main-content__lead-paragraph {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* line 29, ../sass/modules/_typography.scss */
.main-content__ordered-list, main-content__unordered-list {
  display: block;
  color: #f9f9f9;
  list-style: outside;
  margin: 0 0 2em 2em;
}
/* line 34, ../sass/modules/_typography.scss */
.main-content__ordered-list li, main-content__unordered-list li {
  list-style-type: decimal-leading-zero;
}
/* line 37, ../sass/modules/_typography.scss */
.main-content__ordered-list .main-content__subhead, main-content__unordered-list .main-content__subhead {
  padding-left: 1em;
  text-transform: none;
}
/* line 41, ../sass/modules/_typography.scss */
.main-content__ordered-list .main-content__headline, main-content__unordered-list .main-content__headline {
  text-transform: none;
  font-weight: normal;
}

/* line 1, ../sass/modules/_cta.scss */
.cta {
  width: 85%;
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: block;
  padding: 15px 30px;
  margin: 50px auto 0;
  color: #f9f9f9;
  background: #39af84;
  border: 1px solid #f9f9f9;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}
@media (min-width: 640px) {
  /* line 1, ../sass/modules/_cta.scss */
  .cta {
    max-width: 300px;
    width: 50%;
  }
}

/* line 23, ../sass/modules/_cta.scss */
.anchor {
  visibility: hidden;
  padding-top: 100px;
  margin: 0;
}

/* line 28, ../sass/modules/_cta.scss */
.cta:hover {
  color: #39af84;
  background: #f9f9f9;
  text-decoration: none;
  border: 1px solid #39af84;
}

/* line 34, ../sass/modules/_cta.scss */
.contact__cta {
  display: inline-block;
  margin: 15px;
}

/* line 1, ../sass/modules/_animation.scss */
body {
  -webkit-animation: fadein 2s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s ease-out;
  /* Firefox < 16 */
  -ms-animation: fadein 2s ease-out;
  /* Internet Explorer */
  -o-animation: fadein 2s ease-out;
  /* Opera < 12.1 */
  animation: fadein 2s ease-out;
}

/* line 9, ../sass/modules/_animation.scss */
.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

/* line 17, ../sass/modules/_animation.scss */
.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  transform-origin: 0 50%;
}

/* line 27, ../sass/modules/_animation.scss */
.ml11 .line1 {
  top: 0;
  left: 0;
}

/* line 32, ../sass/modules/_animation.scss */
.ml11 .letter {
  display: inline-block;
}

/* line 35, ../sass/modules/_animation.scss */
.ml12 .letter {
  opacity: 0;
}

@media (min-width: 960px) {
  /* line 39, ../sass/modules/_animation.scss */
  .ml12 .letter {
    display: inline-block;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 1, ../sass/components/_nav.scss */
.nav {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  right: 0;
  width: 100%;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 15px;
  color: #fff;
  background: #39af84;
  z-index: 3;
}

/* line 14, ../sass/components/_nav.scss */
.nav__menu {
  text-align: right;
}

/* line 17, ../sass/components/_nav.scss */
.nav__menu-item {
  color: #f9f9f9;
  display: inline-block;
  padding: 15px;
  font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 640px) {
  /* line 17, ../sass/components/_nav.scss */
  .nav__menu-item {
    padding: 30px;
    font-size: 1em;
  }
}

/* line 30, ../sass/components/_nav.scss */
.nav__menu-link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f9f9f9;
  text-decoration: none;
  transition: color .3s;
}
/* line 35, ../sass/components/_nav.scss */
.nav__menu-link:hover {
  color: #fff !important;
}

/* line 40, ../sass/components/_nav.scss */
.nav__menu-item--logo {
  position: relative;
  display: inline;
  left: 0;
  font-size: 18px;
  font-family: "Averia Sans Libre", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
}

/* Fixed Vertical Nav */
/* line 3, ../sass/components/_vertical-nav.scss */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* line 11, ../sass/components/_vertical-nav.scss */
#cd-vertical-nav a {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #39af84;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

/* No Touch devices */
/* line 20, ../sass/components/_vertical-nav.scss */
.cd-nav-trigger {
  display: none;
}

/* line 24, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav {
  position: fixed;
  right: 2%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}

/* line 36, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav li {
  text-align: right;
}

/* line 39, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 45, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

/* line 50, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

/* line 59, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 66, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}

/* line 69, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}

/* line 72, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #39af84;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* line 89, ../sass/components/_vertical-nav.scss */
.no-touch #cd-vertical-nav .cd-label {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  top: -6px;
  text-transform: uppercase;
  position: relative;
  margin-right: 1em;
  padding: 1.5em 2em;
  background-color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 0;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-radius: 20px;
}

/* Touch devices */
/* line 115, ../sass/components/_vertical-nav.scss */
.touch .cd-nav-trigger {
  display: block;
  z-index: 3;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}

/* line 126, ../sass/components/_vertical-nav.scss */
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 142, ../sass/components/_vertical-nav.scss */
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}

/* line 151, ../sass/components/_vertical-nav.scss */
.touch .cd-nav-trigger span::before {
  top: -9px;
}

/* line 154, ../sass/components/_vertical-nav.scss */
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

/* line 158, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav {
  position: fixed;
  z-index: 3;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: #f9f9f9;
}

/* line 187, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}

/* line 192, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav a span:first-child {
  display: none;
}

/* line 195, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}

/* line 198, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 205, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}

/* line 208, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}

/* line 211, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}

/* line 218, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}

/* line 226, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}

/* line 234, ../sass/components/_vertical-nav.scss */
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  /* line 239, ../sass/components/_vertical-nav.scss */
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}
/* line 1, ../sass/components/_hero.scss */
.hero {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* line 6, ../sass/components/_hero.scss */
.hero .hero__headline {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "rinse", "Coda","Arial",sans-serif;
  z-index: 2;
  font-size: 3em;
  padding: 1em;
  text-shadow: 3px 3px #000;
  color: #fff;
  max-width: 1920px;
}
/* line 16, ../sass/components/_hero.scss */
.hero .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 960px) {
  /* line 1, ../sass/components/_hero.scss */
  .hero {
    height: 700px;
  }
}
@media (min-width: 960px) {
  /* line 28, ../sass/components/_hero.scss */
  .hero .hero__headline {
    font-size: 5vw;
  }
}
@media (min-width: 1920px) {
  /* line 33, ../sass/components/_hero.scss */
  .hero .hero__headline {
    font-size: 5em;
  }
}

/* line 38, ../sass/components/_hero.scss */
.hero__bg-image--chalkboard {
  background-repeat: no-repeat;
  background-position: 20% 75%;
  background-size: cover;
}
@media (min-width: 960px) {
  /* line 38, ../sass/components/_hero.scss */
  .hero__bg-image--chalkboard {
    background-attachment: fixed;
  }
}

/* line 5, ../sass/components/_projects.scss */
.section__projects {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 11, ../sass/components/_projects.scss */
.project__card {
  background-color: #fff;
  border: 1px solid #ebebeb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 16, ../sass/components/_projects.scss */
.project__card {
  margin-bottom: 3%;
  vertical-align: top;
}
@media (min-width: 640px) {
  /* line 16, ../sass/components/_projects.scss */
  .project__card {
    display: inline-block;
    width: 46%;
    margin-right: 3%;
  }
}

/* line 25, ../sass/components/_projects.scss */
.section__skills {
  margin-bottom: 4%;
  vertical-align: top;
}
@media (min-width: 640px) {
  /* line 25, ../sass/components/_projects.scss */
  .section__skills {
    display: inline-block;
    width: 44%;
    margin-right: 5%;
  }
}

/* line 34, ../sass/components/_projects.scss */
.project__featured-image {
  max-width: 100%;
}

/* line 37, ../sass/components/_projects.scss */
.project__label {
  display: block;
}

/* line 40, ../sass/components/_projects.scss */
.project__details {
  padding: 20px 15px 15px;
}

/* line 43, ../sass/components/_projects.scss */
.project__title {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #39af84;
  letter-spacing: .01em;
  font-size: 1.75em;
  padding-bottom: 15px;
  font-weight: normal;
}

/* line 51, ../sass/components/_projects.scss */
.project__description {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  letter-spacing: .025em;
  color: #898989;
  margin-bottom: 30px;
}

/* line 58, ../sass/components/_projects.scss */
.project__role, .project__tools {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: .75em;
  line-height: 1.5;
  letter-spacing: .075em;
  text-transform: uppercase;
  color: #898989;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 72, ../sass/components/_projects.scss */
.project__tools {
  margin-bottom: 15px;
}

/* line 75, ../sass/components/_projects.scss */
.project__cta {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 78, ../sass/components/_projects.scss */
.project__cta .project__link {
  display: block;
  padding: 20px;
  font-size: .75em;
  line-height: .75;
  letter-spacing: .075em;
  text-transform: uppercase;
  color: #39af84;
  text-decoration: none;
  z-index: 10;
}
/* line 88, ../sass/components/_projects.scss */
.project__cta .project__link:hover {
  color: #fff;
  transition: color .3s;
}
/* line 92, ../sass/components/_projects.scss */
.project__cta .project__link:hover:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 4px;
  float: right;
  color: #f9f9f9;
  font-size: 2.5em;
  line-height: 0;
}
/* line 103, ../sass/components/_projects.scss */
.project__cta:hover {
  background: #39af84;
  transition: background .3s;
}

/* line 1, ../sass/components/_experience.scss */
.section__experience {
  font-size: 0;
  margin-bottom: 60px;
}
/* line 4, ../sass/components/_experience.scss */
.section__experience .main-content__headline {
  font-size: 3rem;
}
/* line 7, ../sass/components/_experience.scss */
.section__experience .main-content__paragraph {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  font-size: 1.1rem;
  padding-right: 5%;
}
@media (min-width: 768px) {
  /* line 7, ../sass/components/_experience.scss */
  .section__experience .main-content__paragraph {
    width: 33%;
    padding: 30px 30px 30px 0;
    font-size: 1.1rem;
  }
}

/* line 20, ../sass/components/_experience.scss */
.skill__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px 0;
}

/* line 1, ../sass/components/_footer.scss */
.footer {
  font-family: "quiroh", "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: auto;
  padding: 60px 15px;
  background: #39af84;
  color: #f9f9f9;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
  text-align: center;
}

/* line 13, ../sass/components/_footer.scss */
.copyright {
  display: block;
  font-size: .75em;
  letter-spacing: 2px;
  appearance: normal;
  margin: 30px auto 5px;
}

/* line 23, ../sass/components/_footer.scss */
.social__icon {
  display: inline-block;
  height: 60px;
}
/* line 26, ../sass/components/_footer.scss */
.social__icon img {
  width: 22px;
}
/* line 29, ../sass/components/_footer.scss */
.social__icon .icon-github, .social__icon .icon-twitter, .social__icon .icon-youtube, .social__icon .icon-vimeo, .social__icon .icon-instagram {
  position: relative;
  background: none;
  display: inline-block;
  padding: 30px 10px;
  margin: 0;
  text-align: center;
}
/* line 36, ../sass/components/_footer.scss */
.social__icon .icon-github:hover:before, .social__icon .icon-twitter:hover:before, .social__icon .icon-youtube:hover:before, .social__icon .icon-vimeo:hover:before, .social__icon .icon-instagram:hover:before {
  position: absolute;
  bottom: 60px;
  font-size: .6em;
  color: #fff;
  letter-spacing: 2px;
}

/* line 45, ../sass/components/_footer.scss */
.icon-github:hover:before {
  content: 'GitHub';
}

/* line 46, ../sass/components/_footer.scss */
.icon-twitter:hover:before {
  content: 'Twitter';
}

/* line 47, ../sass/components/_footer.scss */
.icon-youtube:hover:before {
  content: 'YouTube';
}

/* line 48, ../sass/components/_footer.scss */
.icon-vimeo:hover:before {
  content: 'Vimeo';
}

/* line 49, ../sass/components/_footer.scss */
.icon-instagram:hover:before {
  content: 'Instagram';
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__content {
  display: inline-block;
}

.nav__menu {
  display: none;
  margin: 15px 0;
}
.nav__menu-items {
}
.nav__menu-item {
  text-transform: uppercase;
  letter-spacing: 0;  
}
.nav__link .letter {
  letter-spacing: 2px;
}
.nav__link {
  padding: 12px;
  color: rgba(255,255,255,.8);
  font-size: 14px;
}
.nav__link:hover {
  color: rgba(255,255,255,1);
}
.hero {
  height: 80vh;
}
.main-content {
  padding: 100px 30px;
  text-align: left;
  padding-left: 15px;
}
.project__card, .project__background,.project__details {
  border-radius: 4px;
}
.project__card {
  text-align: right;
  margin: 3vh auto;
  width: 90%;
}
.project__cta {
    background: rgba(255,255,255,0.15);
    background-color: #39af84;
    text-align: center;
}
.project__link {
  color: #fff !important ;
  text-shadow: #888 0px 1px 5px;
  font-size: 14px !important;
}
.project__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative ;
    text-align: left;
    padding: 45px;
    width: 90%;
    margin: 30px auto;
    background: rgba(255,255,255,.9);
    z-index: 2;
 }

.hero {
  height: 85vh;
}
.project__background {
  position: relative;
  top: 0;
  min-height: 600px;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.project__thumbnail {
    position: absolute;
    bottom: 0;
    left: 0;
}
@media (min-height: 768px) and (max-width: 999px) {
  .project__background {
      height: 65vh;
    }
}
@media (max-width: 999px) {
  .main-content {
      padding: 100px 0;
  }
  .project__details {
      padding: 30px 15px;
  }
}
@media (min-width: 1000px) and (max-width: 1800px) {
  .project__background {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .nav {
    justify-content: space-between;
  }
  .nav__menu {
    display: flex;
  }
  .project__card {
    margin: 0 auto 15vh;
  }
  .project__details {
    border-radius: 0;
    width: 30%;
    margin: 0 0 0 auto;
  }
}
@media (min-width: 1200px) {
.nav__link {
  padding: 15px;
  font-size: 16px;
}
  .project__background {
  background-position: bottom left
  }
  .project__details {
    border-radius: 4px;
    align-self: center;
    box-shadow: rgba(0,0,0,.15) 0px 0px 15px;
    right: 2.5%;
    width: 30%;
  }
 
}
@media (min-width: 1800px) {
  .project__card {
    width: 75%;
  }
  .project__details {
    position: absolute;
    width: 25%;
    top: unset;
    bottom: 60px;
    padding: 30px;
  }
  .project__background {
    min-height: 75vh;
  }
  .project__description {
      font-size: 18px;
    }
  }
  @media (min-width: 2200px) {
    .project__background {
      background-size: 1600px;
    }
  }

.section__snapshot{
    margin: 20vh auto;
  }
.section__snapshot .main-content__lead-paragraph {
    font-size: 36px;
  }
  .testimonial__quote {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 1px;
  }
  .testimonial__author-name,
  .testimonial__author-role {
    padding: 0;
  }
  .testimonial__author-name  {
    margin: 1em 0 0;
  }
  .testimonial__author-role {
    margin: 0 0 .5em ;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #39af84;
    letter-spacing: 1px;
  }
  .testimonial .skill__icon {
    float: left;
    margin: 1.1em 1em 4em 0;
  }
  @media (min-width: 768px) {
    .testimonial:last-child {
      width: 66% !important;
    }
  }
  .copyright {
    font-size: 18px;
    line-height: 1.5;
  }  